server {
    listen 8000;
    charset utf-8;

    server_name nostraplata.mobilidade.fm;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    location /static {
        alias /opt/nostra-plata/releases/current/static/;
    }
}
